<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Posts</h1>
  <ul class="list-group">
    <app-posts *ngFor="let post of posts"
                [title]="post.title"
                [content]="post.content"
                [loveIts]="post.loveIts"
                [created_at]="post.created_at"></app-posts>
  </ul>
</div>

<router-outlet></router-outlet>
