<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
  <div>
    <h3 style="text-align: left" [ngStyle]="{color: getColor()}">{{ title }}</h3>
    <h4 style="top: 0; right: 0; position: absolute; color: gray">{{ created_at | date: 'short' }}</h4>
    <p>{{content}}</p>
    <div>
      <button class="btn btn-success"
              (click)="increaseLove()">J'aime</button>
      <button class="btn btn-danger"
              (click)="decreaseLove()">J'aime pas</button>
    </div>
  </div>
</li>
